  <div class="main">
<div class="com"><br/>
<input type=""  value = {{val}} (keyup)="input($event)">
<table>
  <tr>
  <td><button class="grey" (click)=div()> / </button></td>
  <td><button class="grey" (click)=mul()> * </button></td>
  <td><button class="grey"(click)=back()> B </button></td>
  <td><button class="grey"(click)=clear()> C </button></td>

</tr>
</table>

<table>
  <tr>
  <td><button (click)=put(7)> 7 </button></td>
  <td><button (click)=put(8)> 8 </button></td>
  <td><button (click)=put(9)> 9 </button></td>
  <td><button class="grey" (click)=sub()> - </button></td>
</tr>
<tr>
  <td><button (click)=put(4)> 4 </button></td>
  <td><button (click)=put(5)> 5 </button></td>
  <td><button (click)=put(6)> 6 </button></td>
  <td><button class="grey" (click)=add()> + </button></td>
 
</tr>
<tr>
  <td><button (click)=put(1)> 1 </button></td>
  <td><button (click)=put(2)> 2 </button></td>
  <td><button (click)=put(3)> 3 </button></td>
</tr>
</table>
<table>
  <tr>
  <td> <button class="twoo" (click)=put(0)> 0 </button></td>
  <td>  <button class="las"(click)=dot()> . </button></td>
  <td>  <button class="ver" (click)=equ()> = </button></td>
</tr>
</table>
 
</div>
</div>