
<div>
    <input type="text" placeholder="search" #fin>
    <button (click)="search(fin.value)">Search</button>
   <div  *ngFor = "let item of searchdata">
    <table>
        <tr><td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.address}}</td></tr>
        
      
    </table>
  </div>
  </div>
  
  <div class= "container">
    <pre> <p>
      Image: <input type="file" name="myImage" (change)="onSelect($event )">
      Name:   <input type="text" placeholder="Name" [(ngModel)]="name"><br/>
      Age:    <input type="text" placeholder="age" [(ngModel)]="age"><br/>
      Gender: <input type="text" placeholder="gender" [(ngModel)]="gender"><br/>
      Address:<input type="text" placeholder="address" [(ngModel)]="address">
    </p></pre>
   
    <pre>
                       <button (click) = "onADD(path)">ADD</button>                <button (click) = "onGET()">GET</button>
                       <button (click) = "onDELETE()">DELETE</button>                <button (click) = "onUPDATE()">UPDATE</button>
  </pre>
  </div> 
  